version: '2'

services:
  cloudflared:
    container_name: cloudflared
    image: visibilityspots/cloudflared
    hostname: cloudflare-dns
    restart: unless-stopped
    ports:
     - "5054:5054/udp"
    networks:
      pihole:
        ipv4_address: 172.88.0.3        
  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    hostname: armdock401
    depends_on:
      - cloudflared
    #  - nextdns-proxy
    networks:
       pihole:
         ipv4_address: 172.88.0.4
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    volumes:
      - "/home/docker/pihole/etc-pihole:/etc/pihole"
      - "/home/docker/pihole/etc-dnsmasq.d:/etc/dnsmasq.d"

    dns:
      - 127.0.0.1
      - 192.168.11.1
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    environment:
      TZ: Europe/London
      DNS1: '172.88.0.3#5054'
      DNS2: '172.88.0.3#5054'
      WEBPASSWORD: '4DPkgqHO'

networks:
  pihole:
    driver: bridge
    ipam:
      config:
        - subnet: 172.88.0.0/29
